<app-header [titulo]="'Crear Nueva Tarea'"></app-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Título de la Tarea</ion-label>
      <ion-input [(ngModel)]="titulo" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input [(ngModel)]="descripcion" type="text"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="crearTarea()">Crear Tarea</ion-button>
  </ion-list>
</ion-content>
